* {
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
}

div{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 960px
}

div.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

img.wide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 960px;
}

img.halfwide {
  display: inline;
  width: 40%;
  max-width: 384px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

img.quarterwide {
  display: inline;
  width: 20%;
  max-width: 192px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navbar {
  float: left;
}

li a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a.navbar:hover {
  background-color: #111;
}

.navbaractive {
  background-color: #04AA6D;
}
